<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
      <link rel="stylesheet" href="shop.css">
</head>
<body>
    <header class='main_header'>
        <nav class="main_nav">
             <ul class="header_list">
                 <li class="main_header_item"> <a href="/">Shop</a> </li>
                 <li class="main_header_item "> <a href="/admin/add">Add Product</a></li>
                 <li class="main_header_item"> <a class="active" href="/contactus">contact Us</a> </li>
             </ul>
         </nav>
     </header>
 <div>
    <form class="user-form" action="/success" method="post">
       <div class="form_control">
      <label for="username">Name</label>
        <input type="text" id="username">
        <label for="emailid">Email-Id </label>
        <input type="text" id="emailid">
        <button type="submit">Send</button>
       </div>
    </form>
</div>

</body>
</html>